@import "./Variables.scss";
@import "./Mixin.scss";

.group-view-conteiner {
	@include flex-colum-;
	width: 100%;
	border: 1px solid black;
	margin: $margin-segundario;
	background-color: red;
	h2 {
		padding: 5px;
	}
	.group-view {
		display: flex;
	}
}
