@import "./Variables.scss";
@import "./Mixin.scss";

.contenedor-error404 {
	@include flex-central-alinear;
	margin: $distancia-principal;
	margin-bottom: 70px;
	.contenedor-error404-img {
		@include flex-central;
		img {
			width: 100%;
		}
	}
}
