@import "./Variables.scss";
@import "./Mixin.scss";

.gruop-view {
	padding: 30px;
	h2 {
		margin: $distancia-secundaria;
	}
	.gruop-view-title {
		display: flex;
		align-items: center;
	}
	.slick-slide img {
		margin: auto;
	}
}
