.infoDetalles-fondo {
	position: relative;
	filter: brightness(50%);
}
.infoDetalles-conteiner {
	position: absolute;
	right: 150px;
	top: 160px;
	display: flex;
	justify-content: center;

	.infoDetalles-conteiner-img {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 280px;
		height: 400px;
		margin: 10px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
	.infoDetalles-conteiner-texto {
		display: flex;
		flex-direction: column;
		width: 700px;
		margin: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		p {
			margin: 4px;
		}

		.infoDetalles-conteiner-title {
			display: flex;
			padding-bottom: 15px;
			p {
				font-size: 22px;
			}
			h2 {
				font-size: 40px;
			}
			h3 {
				margin-top: 20px;
				margin-left: 15px;
				color: rgb(189, 185, 180);
			}
		}
		.infoDetalles-conteiner-info {
			padding-top: 5px;
			padding-bottom: 5px;
			p {
				margin-top: 10px;
				margin-bottom: 10px;
				font-size: 18px;
			}
		}
	}
}
.contenedor-star {
	display: flex;
	font-size: 20px;
	padding-bottom: 5px;
}
