.loader {
	position: absolute;
	top: 100px;
	left: 550px;
	border: 16px solid #e5e8eb;
	border-top: 16px solid #868383;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
