@mixin flex-central {
	display: flex;
	justify-content: center;
}

@mixin flex-colum-central {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@mixin flex-alinear {
	display: flex;
	align-items: center;
}

@mixin flex-colum {
	display: flex;
	flex-direction: column;
}
