@import "./Variables.scss";
@import "./Mixin.scss";

.conteiner-section {
	@include flex-colum-central;
	.conteiner-title {
		@include flex-central;
		margin: $distancia-principal;
		padding: $distancia-secundaria;
	}

	.conteiner-cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
