@import "./Variables.scss";
@import "./Mixin.scss";

.nav {
	height: 80px;
	width: 100%;
	background-color: darkgray;
	color: $color-secuntario;
	@include flex-alinear;
}

.nav-link {
	@include flex-alinear;
	ul {
		@include flex-central;
		li {
			@include flex-central;
			list-style: none;
			margin: $margin-segundario;
		}
	}
}

.nav-input {
	@include flex-alinear;
	margin: $margin-principal;
}
