@import "./Variables.scss";
@import "./Mixin.scss";

.nav {
	width: 100%;
	color: $color-secuntario;
	font-size: large;
	box-shadow: $shadow-principal;
	@include flex-alinear;
	justify-content: space-between;

	.nav-link {
		@include flex-alinear;
		ul {
			@include flex-central;
			li {
				@include flex-central;
				list-style: none;
				margin: $distancia-secundaria;
			}
		}
	}
}

.nav-link :hover {
	color: $color-terciario;
}

.nav-input {
	@include flex-alinear;
	margin: $distancia-principal;
}
