@import "./Variables.scss";
@import "./Mixin.scss";

.nav {
	width: 100%;
	background-color: transparent;
	color: $color-secuntario;
	@include flex-alinear;
}

.nav-link {
	@include flex-alinear;
	ul {
		@include flex-central;
		li {
			@include flex-central;
			list-style: none;
			margin: $distancia-secundaria;
		}
	}
}

.nav-input {
	@include flex-alinear;
	margin: $distancia-principal;
}
