@import "./Variables.scss";
@import "./Mixin.scss";

.nav-responsive {
	position: fixed;
	z-index: 2;
	bottom: 0;
	width: 100%;

	background-color: $color-primario;
	@include flex-colum-central;
	box-shadow: $shadow-principal;
	.nav-responsive-iconos {
		@include flex-central;
		width: 300px;
		ul {
			@include flex-alinear;
			justify-content: center;
			width: 100%;
			justify-content: space-between;
			a {
				li {
					list-style: none;
				}
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.footer-iconos-nav {
		width: 200px;
	}
}
