@import "./Variables.scss";
@import "./Mixin.scss";

.contenedor-titulo {
	display: flex;
	align-items: flex-start;
	margin: $distancia-principal;
	padding: $distancia-principal;
	h3 {
		margin-right: $distancia-secundaria;
	}
}

.contenedor-seccionpeliculaSerie {
	@include flex-colum-central;
	.contenedor-cartas {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.contenedor-paginado {
	@include flex-colum-central;
	margin: $distancia-principal;
	padding: $distancia-principal;
}
.MuiPaginationItem-root {
	color: white !important;
}

//RESPONSIVE
@media screen and (max-width: 600px) {
	.seccionPeliculasSeries {
		@include flex-colum-central;
		margin-bottom: 70px;
	}
}
