$color-primario: black;
$color-secuntario: #e6e6e6;
$color-terciario: gray;
$color-responsive: rgb(63, 63, 128);

$tipografia-principal: Bebas neue;

$distancia-principal: 20px;
$distancia-secundaria: 10px;
$distancia-responsive: 5px;

$shadow-principal: rgba(58, 58, 58, 0.25) 0px 4px 8px -2px,
	rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
