@import "./Variables.scss";
@import "./Mixin.scss";

.individual-view {
	display: inline-block;
	justify-content: center;
	align-items: center;
	width: 220px;
	margin: 10px;
	overflow: hidden;
	img {
		height: 350px;
	}
}
