@import "./Variables.scss";
@import "./Mixin.scss";

.vista-grupal {
	padding: 30px;
	margin: auto;

	.vista-grupal-titulo {
		@include flex-alinear;
		margin: $distancia-secundaria;
		h3 {
			margin-right: $distancia-secundaria;
		}
	}
	
	.slick-slide img {
		margin: auto;
		position: relative;
	}

}


