@import "./Variables.scss";
@import "./Mixin.scss";

.vista-grupal {
	padding: 30px;
	margin: auto;
	position: relative;

	.vista-grupal-titulo {
		@include flex-alinear;
		margin: $distancia-secundaria;
		h3 {
			margin-right: $distancia-secundaria;
		}
	}

	.slick-slide img {
		margin: auto;
		position: relative;
	}
}

.vista-grupal-contenedor-vista-individual {
	display: flex;
	justify-content: center;
	align-items: center;
}

//RESPONSIVE

@media screen and (max-width: 600px) {
	.vista-grupal {
		.vista-grupal-titulo {
			display: flex;
			justify-content: center;

			margin: $distancia-responsive;
			h3 {
				font-size: 20px;
				margin-right: $distancia-responsive;
			}
		}
	}
}
