@import "./Variables.scss";
@import "./Mixin.scss";

.vista-individual {
	display: inline-block;
	width: 220px;
	height: 330;
	margin: $distancia-secundaria;
	h3 {
		margin-top: $distancia-secundaria;
	}
	.cotenedor-ind-img {
		height: 330;
		overflow: hidden;
		transform: scale(1);
		img {
			width: 100%;
		}
	}
}

.cotenedor-ind-img img:hover {
	transform: scale(1.1);
	transition: all 0.3s ease 0s, height 0s ease 0s;
}

//RESPONSIVE

@media screen and (max-width: 600px) {
	.vista-individual {
		margin: 25px;
		h3 {
			margin-top: $distancia-responsive;
		}
		width: 200px;
		.cotenedor-ind-img {
			height: 300px;
		}
	}
}
