@import "./Variables.scss";
@import "./Mixin.scss";

.vista-individual {
	display: inline-block;
	width: 220px;
	margin: $distancia-secundaria;
	h3 {
		margin-top: $distancia-secundaria;
	}
	.cotenedor-ind-img {
		height: 330px;
		overflow: hidden;
		img {
			width: 100%;
		}
	}
}
