@import "./styles/Variables.scss";
@import "./styles/Mixin.scss";

* {
	color: $color-secuntario;
	a {
		color: $color-secuntario;
	}
}
body {
	margin: 0;
	background-color: $color-primario;
	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		margin: 0;
	}
	a {
		text-decoration: none;
		color: $color-secuntario;
		font-family: $tipografia-principal;
	}
}
